html {
	font-size: 62.5%;
	/* font-size 1em = 10px on default browser settings */
}

body {
	font-family: Helvetica, "Helvetica Neue";
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	text-align: center;
	font-size: 4em;
}

ul>button {
	padding: 1em 0em;
	border: 2px solid #2b2b2b;
	border-right: none;
	background: transparent;
	text-transform: uppercase;
	outline: none;
}

ul>button:hover {
	background: #2b2b2b;
	color: white;
}

.col-1 {
	grid-column: 1/2;
	border-left: none;
}


.col-2 {
	grid-column: 2/3;
}


.col-3 {
	grid-column: 3/4;
}

/* ------------------------------- */
/* ----------- Heading ----------- */
/* ------------------------------- */

.heading {
	text-align: center;
	
	font-size: 8em;
	text-transform: uppercase;
	font-weight: 500;
	border-bottom: 2px solid #2b2b2b;
	padding: 0.4em 0;
}