html {
	font-size: 62.5%;
	/* font-size 1em = 10px on default browser settings */
	box-sizing: border-box;
}

@font-face {
	font-family: 'Helvetica 55 Roman';
	src: url('../font/HelveticaNeue-Roman.woff2') format('woff2'),
		url('../font/HelveticaNeue-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



body {
	font-family: "Helvetica 55 Roman";
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	text-align: center;
	font-size: 4em;
}

ul>a {
	padding: 1em 0em;
	border: 4px solid #000000;
	border-right: none;
	background: transparent;
	text-transform: uppercase;
	outline: none;
	color: black;
	text-decoration: none;
}

ul>a:hover {
	background: #000;
	color: white;
}

.col-1 {
	grid-column: 1/2;
	border-left: none;
}


.col-2 {
	grid-column: 2/3;
}


.col-3 {
	grid-column: 3/4;
}

/* ------------------------------- */
/* ----------- Heading ----------- */
/* ------------------------------- */

.heading {
	text-align: center;

	font-size: 8em;
	text-transform: uppercase;
	font-weight: 500;
	border-bottom: 4px solid #000000;
	padding: 0.4em 0;
	position: relative;
}

.heading>sup {
	position: absolute;
	top: 0.8em;
}

/* ----------------------------------- */
/* ---------- About Header ----------- */
/* ----------------------------------- */

.about-header {
	/* position: relative; */
	background-image: url(../img/about-header.png);
	height: 32vh;
	background-position: center top;
	padding: 1.6em;
}

#caption {
	position: absolute;
	display: inline-block;
	font-size: 2em;
	/* border: 1px solid #2b2b2b; */
	text-align: justify;

}

#caption {
	font-size: 2.4em;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: justify;
	/* -moz-transform: matrix( 0.48170927742357,0,0,0.48170927742357,0,0);
	-webkit-transform: matrix( 0.48170927742357,0,0,0.48170927742357,0,0);
	-ms-transform: matrix( 0.48170927742357,0,0,0.48170927742357,0,0); */
	/* position: absolute; */
	/* width: 1025.911px; */
	/* height: 208.5px; */
	z-index: 2;
	border-width: 0.04em;
	border-color: rgb(0, 0, 0);
	border-style: solid;
}

/* ------------------------------------ */
/* ----------  ABOUT TEXT ------------- */
/* ------------------------------------ */

.about-section {
	display: grid;
	align-items: center;
	justify-content: center;
}

.about-text {
	grid-column: 1/2;
	font-size: 25em;
	font-family: "Helvetica 55 Roman";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: justifyLeft;
	grid-row: 1/2;
}

.about-arrow {
	grid-column: 2/3;
	grid-row: 1/2;
}

/*  */

.about-para {
	grid-column: 1/3;
	background-color: black;
	font-size: 50px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	padding: 0.8em;
	font-weight: 200;
	text-align: justify;
}


/* ------------------------------------ */
/* ---------- CONTACT TEXT ------------ */
/* ------------------------------------ */

.contact-number {
	display: grid;
	font-size: 6.4em;
	font-family: "Helvetica 55 Roman";
	font-weight: 400;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	align-items: center;
	padding: 0.4em 0;
	border-bottom: 4px solid #000000;
}

.contact-number>.col-1 {
	grid-column: 1/2;
}

.contact-number>.col-2 {
	grid-column: 2/3;
}

.contact-number>.col-3 {
	grid-column: 3/4;
	height: 100%;
	padding: 0;
}

.contact-number>.col-3:hover {
	background: #000;
	color: white;
	height: 100%;
}

.contact {
	font-size: 6.4em;
	font-weight: 400;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: right;
	border-bottom: 4px solid #000000;
}

/* .contact>span {
	background: #000;
	color: white;
	height: 100%;
} */

.ta-right {
	text-align: right;
}

.ta-left {
	text-align: left;
}

.contact-image {
	overflow: hidden;
	width: 100%;
}

ul>.active {
	background: #000;
	color: #fff;
}

/* ------------------------------------ */
/* ---------- WORK TEXT ------------ */
/* ------------------------------------ */

.section-work {
	border-bottom: 4px solid #000000;
	padding: 16px 16px;
}

.work-header-img {
	width: 100%;
}

.work-heading {
	font-size: 7.2rem;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.work-list li {
	list-style: disc;
	text-align: left;
	margin-left: 40px;
}

.work-list {
	margin-bottom: 24px;
}

.work-header {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
}

.work-para {
	font-size: 40px;
	line-height: 1.2;
}

.work-button {
	font-size: 40px;
	line-height: 1.2;
	background: transparent;
	border: transparent;
}

.flex-vcenter {
	display: flex;
	align-items: center;
}

.section-work-marquee {
	padding: 6.4rem 0;
	border-bottom: 4px solid #000;
}


/* LINKS */
.hover-black:hover {
	color: white;
	background: #000;
}